* {
  box-sizing: border-box;
}

html,
body {
  background: var(--skin-background);
  color: var(--skin-color);
  font-family: var(--font-family-body);
  font-size: var(--font-size);
  line-height: var(--line-height);
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4 {
  font-weight: 600;
  margin: 0 0 var(--spacing-sm);
}

h1 {
  font-size: var(--font-size-xxl);
  line-height: var(--line-height-xxl);
}

h2 {
  font-size: var(--font-size-xxl);
  line-height: var(--line-height-xxl);
}

h3 {
  font-size: var(--font-size-xl);
  line-height: var(--line-height-xl);
}

p,
ul {
  margin: 0 0 var(--spacing-sm);
}

p:last-child {
  margin: 0;
}

a {
  color: var(--skin-link-color);
  position: relative;
  text-decoration: none;
}

a::after {
  background: currentColor;
  content: '';
  height: 2px;
  bottom: 0;
  left: 0;
  position: absolute;
  transform: scaleX(0);
  transform-origin: left center;
  transition: transform .25s ease-in-out;
  width: 100%;
}

a:hover::after {
  transform: none;
  transform-origin: right center;
}

strong,
b {
  font-weight: 600;
}

hr {
  border: 1px solid currentColor;
  border-width: 1px 0 0 0;
  height: 0;
  margin: calc(var(--spacing) - 1px) 0 var(--spacing);
  max-width: 20ch;
  opacity: .25;
}

@media (min-width: 60rem) {
  h1 {
    font-size: var(--font-size-xxxl);
    line-height: var(--line-height-xxxl);
  }
}
