label {
  display: block;
  font-weight: 700;
  margin-bottom: var(--spacing-xs);
}

input,
select,
button {
  appearance: none;
  border: 1px solid var(--color-grey-4);
  border-radius: .25rem;
  display: block;
  font-size: var(--font-size);
  line-height: var(--line-height);
  padding: var(--spacing-sm);
  transition: border-color var(--transition);
  width: 100%;
}

input:hover,
input:focus
select:hover,
select:focus {
  border-color: var(--color-grey-3);
}

button {
  background: var(--color-red);
  border: 0 none;
  color: var(--color-white);
  cursor: pointer;
  transition: background-color var(--transition);
}

button:hover,
button:focus {
  background: color-mix(in srgb, var(--color-red) 90%, var(--color-black) 10%);
}
