:root {
  --cols: 4;
}

@media (min-width: 40rem) {
  :root {
    --cols: 6;
  }
}

@media (min-width: 60rem) {
  :root {
    --cols: 12;
  }
}

body {
  position: relative;
}

body::before {
  background-image: repeating-linear-gradient(
    to right,
    rgba(0, 0, 0, 0.025),
    rgba(0, 0, 0, 0.025) var(--spacing),
    transparent var(--spacing),
    transparent calc((100% - var(--spacing)) / var(--cols))
  );
  background-repeat: repeat;
  bottom: 0;
  content: '';
  left: 50%;
  max-width: 80rem;
  pointer-events: none;
  position: absolute;
  top: 0;
  transform: translatex(-50%);
  width: 100vw;
  z-index: 1;
}

body::after {
  background-image: repeating-linear-gradient(
    to bottom,
    transparent,
    transparent calc(var(--base-unit) - 1px),
    rgba(0, 0, 0, 0.2) var(--base-unit)
  );
  background-repeat: repeat;
  bottom: 0;
  content: '';
  left: 0;
  pointer-events: none;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 2;
}
