@import '../../css/variables.css';
@import '../../css/base.css';
@import '../../css/forms.css';

@import '../../css/components/container.css';
@import '../../css/components/line-length.css';
@import '../../css/components/page-section.css';
@import '../../css/components/skin.css';
@import '../../css/components/spacing.css';
@import '../../css/components/text.css';

@import './components/day.css';
@import './components/form-group.css';

details {
  background: var(--color-white);
  border: 1px solid var(--color-grey-4);
  border-width: 1px 0;
  margin: 0 calc(var(--gutter) * -1) -1px;
}

details[open] {
  border-color: var(--color-grey-3);
  position: relative;
}

summary {
  cursor: pointer;
  font-size: var(--font-size);
  line-height: var(--line-height);
  padding: var(--spacing-sm) var(--gutter);
}

details[open] summary {
  border-bottom: 1px solid var(--color-grey-3);
}

