h1,h2,h3,h4,h5,h6 {
  line-height: 1.25;
  margin: 0;
  color: $base-color-dark;
  font-weight: 700;
  font-family: $font-sans;

  & + p {
    margin-top: $spacing-v /4;
  }
}

h1 {
  font-size: 1.75em;
}

h2 {
  font-size: 1.5em;
}

h3 {
  font-size: 1.25em;
}

h4 {
  font-size: 1.125em;
}

h5, h6 {
  font-size: 1em;
}
