ul, ol {
  padding: 0;
  margin: 0 0 $spacing-v $spacing-h;

  ul, ol {
    margin-top: 0;
  }

  &.unstyled {
    list-style: none;
    margin: 0;
  }
}

ol {
  list-style: decimal;
}

li ol {
  list-style-type: lower-alpha;
}

dl {

}

dt {
  font-weight: bold;
}

dd {
  margin: 0 0 $spacing-v;
}
