body {
  line-height: $line-height;
  font-family: $base-font;
  color: $base-color;
}

%vertical-rhythm {
  margin-bottom: $spacing-v;
}

// Block Level
@import "headings";
@import "lists";
@import "quotes";

p {
  margin: 0 0 $spacing-v;
}
