.cards {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.card {
  position: relative;
  overflow: hidden;

  &:before {
    content: "";
    display: block;
    padding-bottom: 100%;
  }
}

@media screen and (min-width: $line-length*2) {
  .card {
    float: left;
    width: 50%;
  }
}

@media screen and (min-width: $line-length*3) {
  .card {
    width: 33.33%;
  }
}

.card__content {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height:100%;

  img {
    width: 100%;
    height: auto;
  }
}

.card--txt {
  @include font-size(36);

  span {
    position: absolute;
    top: 50%;
    text-align: center;
    display: block;
    width: 75%;
    left: 50%;
    transform: translate(-50%,-50%);
  }
}

// Skins
.card--etch {
  background: #3a3a3a;
  color: #f2f2f2;

  a {
    color: #f66;
  }
}

.card--instagram {
  background: #fafafa;
  color: #4b4f54;
  a {
    color: #4090db;
  }
}

.card--icon {
  a {
    display: block;
    width: 100%;
    height: 100%;
  }

  .icon {
    @include font-size(200);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
  }

  span {
    @include sr-only;
  }
}

.card--email a {
  background: #EAEAEA;
  color: #C24438;
}

.card--twitter a {
  background: #57B8E1;
  color: #FFF;
}

.card--github a {
  background: #000;
  color: #FFF;
}
