.links {
  list-style-type: none;
  margin: 1em 0;
  padding: 0;

  &__item {
    .icon {
      margin-right: .25em;
      width: 1em;

      &-envelope {
        color: #c24438;
      }

      &-twitter {
        color: #57B8E1;
      }

      &-github-alt {
        color: #000;
      }
    }
  }

  &__link {
    display: block;
  }

  &__img {
    display: inline-block;
    margin-right: .25em;
    max-width: 16px;
    vertical-align: middle;
  }
}
