@keyframes hero-image-entrance {
  0% {
    opacity: 0;
    transform: translateX(1rem);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}

@keyframes hero-content-entrance {
  0% {
    opacity: 0;
    transform: translateY(1rem);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}

.hero {
  background: var(--skin-background);
  color: var(--skin-color);
}

.hero__inner {
  margin: auto;
  max-width: 80rem;
}

.hero__content {
  padding: var(--spacing-lg) var(--gutter);
  position: relative;
  z-index: 1;
}

.hero__content h1,
.hero__content p {
  animation: hero-content-entrance .5s ease-in-out 1 both;
}

.hero__content p {
  animation-delay: .1s;
}

.hero__content p:nth-child(2) {
  animation-delay: .2s;
}

.hero__img {
  animation: hero-image-entrance .5s ease-in-out 1 both;
  animation-delay: .5s;
  aspect-ratio: 393 / 390;
  display: block;
  height: auto;
  max-width: 100%;
  object-fit: cover;
  width: 100%;
}

@media (min-width: 40rem) {
  .hero__inner {
    display: grid;
    gap: var(--spacing);
    grid-template-columns: 0 repeat(6, 1fr) 0;
    grid-template-rows: 1fr;
  }

  .hero__content {
    align-self: center;
    grid-column: 1 / span 5;
    grid-row: 1;
    padding-right: 0;
    position: relative;
  }

  .hero__image {
    align-self: flex-end;
    grid-column: 5 / span 4;
    grid-row: 1;
  }

  .hero__img {
    aspect-ratio: 393 / 304;
  }
}

@media (min-width: 60rem) {
  .hero__content {
    padding: var(--section-spacing) 0 var(--section-spacing) var(--gutter);
  }

  .hero__title {
    font-size: 4rem;
  }
}
