* {
  box-sizing: border-box; }

body {
  margin: 0;
  padding: 5vw; }

img {
  max-width: 100%;
  display: block; }

body {
  line-height: 1.5;
  font-family: "Bitter", Georgia, Cambria, "Times New Roman", Times, serif;
  color: #331915; }

h1, h2, h3, h4, h5, h6 {
  line-height: 1.25;
  margin: 0;
  color: #331915;
  font-weight: 700;
  font-family: -apple-system, ".SFNSText-Regular", "San Francisco", "Oxygen", "Ubuntu", "Roboto", "Segoe UI", "Helvetica Neue", "Lucida Grande", sans-serif; }
  h1 + p, h2 + p, h3 + p, h4 + p, h5 + p, h6 + p {
    margin-top: 0.25em; }

h1 {
  font-size: 1.75em; }

h2 {
  font-size: 1.5em; }

h3 {
  font-size: 1.25em; }

h4 {
  font-size: 1.125em; }

h5, h6 {
  font-size: 1em; }

ul, ol {
  padding: 0;
  margin: 0 0 1em 1em; }
  ul ul, ul ol, ol ul, ol ol {
    margin-top: 0; }
  ul.unstyled, ol.unstyled {
    list-style: none;
    margin: 0; }

ol {
  list-style: decimal; }

li ol {
  list-style-type: lower-alpha; }

dt {
  font-weight: bold; }

dd {
  margin: 0 0 1em; }

blockquote,
figure p {
  margin: 0 1em;
  font-family: "Bitter", Georgia, Cambria, "Times New Roman", Times, serif;
  font-style: normal;
  font-size: 1.25em;
  color: #3B638D;
  font-weight: 300;
  line-height: 1.5; }

figure {
  margin: 0 0 1em; }

cite,
figcaption {
  font-style: italic; }

figcaption {
  font-size: 0.75em; }
  figure figcaption {
    margin: 0 1em 1em; }

p {
  margin: 0 0 1em; }

a {
  color: #4c567f;
  text-decoration: none; }
  a:hover, a:focus {
    color: #39405f; }
  a:active {
    color: #4c567f; }
  p a {
    margin: -0.5em;
    padding: 0.5em; }
    p a:hover, p a:focus {
      text-decoration: underline; }

@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon/fonts/icomoon.eot?noaduo");
  src: url("../fonts/icomoon/fonts/icomoon.eot?noaduo#iefix") format("embedded-opentype"), url("../fonts/icomoon/fonts/icomoon.ttf?noaduo") format("truetype"), url("../fonts/icomoon/fonts/icomoon.woff?noaduo") format("woff"), url("../fonts/icomoon/fonts/icomoon.svg?noaduo#icomoon") format("svg");
  font-weight: normal;
  font-style: normal; }

[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-twitter:before {
  content: "\f099"; }

.icon-envelope:before {
  content: "\f0e0"; }

.icon-github-alt:before {
  content: "\f113"; }

.links {
  list-style-type: none;
  margin: 1em 0;
  padding: 0; }
  .links__item .icon {
    margin-right: .25em;
    width: 1em; }
    .links__item .icon-envelope {
      color: #c24438; }
    .links__item .icon-twitter {
      color: #57B8E1; }
    .links__item .icon-github-alt {
      color: #000; }
  .links__link {
    display: block; }
  .links__img {
    display: inline-block;
    margin-right: .25em;
    max-width: 16px;
    vertical-align: middle; }

.main {
  background: #fff;
  font-family: "Bitter", Georgia, Cambria, "Times New Roman", Times, serif;
  margin: auto;
  max-width: 256px; }
  .main__img {
    display: block;
    margin: auto;
    width: 100%; }
  .main__content {
    margin: auto;
    max-width: 512px;
    padding: 1em 0; }
  .main__title {
    font-size: 2rem; }

.status-sender {
  min-height: 1.5em; }
  .status-sender__text {
    opacity: .5; }
